
/*IMPORT*/
@import "./utils/variablemixinkf";
@import "./base/police";

/* DEBUT DU PROJET */
body{
    font-family:'robotoregular';
    padding:0px;
    margin: 0px;
    min-width:320px;
    max-width: 1600px;
    margin:auto;
}
a{
    text-decoration: none;
    color: white;
}
.conteneurheader{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__fleche{
        font-size:large;
        position: absolute;
        left:10%;
        top:10px;
        color: black;
    }
    &__logo{
        font-family: 'shrikhand';
        font-size: 1.8em;
        text-align: center;
    }
}
/* block baniere*/
.pageblockimg{
    padding:0px;
    z-index:1;
    .imgbanniere{
       max-width: 1230px;
        margin: auto;
        width:100%;
        z-index:2;
        height:20em;
        object-position: center;
        display: block;
    }
}
.pagemenu{
    margin-top:-55px;
    z-index:3;
    position: relative;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    width:100%;
    padding-top: 15px;
    background-color: $fondsecondary;
}
.pagehaut{
    display: flex;
    justify-content: space-between;
    margin: 5px 6% 0px 3%;
    &__titre{
        margin:0px;
        font-family:'shrikhand';
    }
    &__coeur{
    vertical-align: bottom;
    padding-top: 7px;
    font-size: x-large;
    color:rgb(59, 59, 59);
    transition: opacity 350ms;
    }
    &__coeurfull{
    vertical-align: bottom;
    padding-top: 7px;
    font-size: x-large;
    color:$coeurfull;
    position:relative;
    right:50%;
    transform: scale(0);
    transition: transform 350ms ease-out;
    }

}
/*animation coeur*/
.pagehaut__blockcoeur{
    &:hover .pagehaut__coeur{
        opacity: 0;
    }
    &:hover .pagehaut__coeurfull{
        transform:scale(1)
    }
}
/*design titre*/
.menutitre{
    @include titremenustyle;
}
/*btn */
.conteneurbtn{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;  
}
.btnmenu{
    background-color: white;
    width:150px;
    display: flex;
    justify-content: space-between;
    width:95%;
    box-shadow: 3px 3px 15px rgb(212, 211, 211);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;  
    &__nom{   
        margin:5px 10px 5px 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
        width:100%;
        overflow: hidden;
        transform-origin: left;
        transition: width 500ms ease;
        padding: 5px 5px 0px 5PX; 
    }
    &__description{
            
            text-overflow: ellipsis;
            font-size: 0.9em;
            font-family: 'robotothin';
         
        }
    &__prix{
            display: inline-block; 
            padding-top: 28px;
            transform:translateX(0%);
            transition:transform 400ms 100ms ease;           
    }
    &__anim{
        width:18%;
        background-color: $colortertiary;
        height:63px;
        overflow: hidden;
        display: inline-block;  
        transition: transform 500ms;
        transform-origin: right;
        border-radius: 0px 10px 10px 0px;
        transform:translateX(100%);
        .btnmenu__check{
            color:white;   
            font-size: large;
            vertical-align: middle;
            position: relative;
            top:17px;
            left: 26%;
            display: inline-block;
            margin: auto;
            width: 18px;
            transform: rotate(-360deg); 
            transition:transform 500ms 150ms;             
            }
        }
}
/*animation plat*/        
.btnmenu{
    &:hover .btnmenu__anim{
        transform:translateX(0);

    }
    &:hover .btnmenu__prix{
        transform:translateX(-10%);
    }
    &:hover .btnmenu__nom{
        width:55%;
    }
    &:hover .btnmenu__check{
        transform:rotate(0deg);
    }
}

/*btn commander*/

.blockcommander{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btncommander{
    @include btn_commander;
    &:hover{
    filter:brightness(110%);
    box-shadow:5px 5px 10px rgb(107, 106, 106);
    }
}
/*partie footer*/
footer{
    background-color:#353535;
    color: white;
    height: 165px;
}
.conteneurfooter{
    padding-left: 15px;
    margin:0px;
}
.footertitre{
    font-family: 'shrikhand';
    margin:0px;
    padding-top: 15px;
    padding-bottom: 5px;
    list-style-type:none;
    font-size: large;
}
.li--gras{
    font-family:'robotobold';
    list-style-type: none;
    margin-top: 4px;
    margin-right: 5px;
}
.footermains{
    font-size:x-small;
    margin-right:5px;
}
.footercouvert{
    margin-right: 7px;
    font-size: small;
}
.liregular{
    list-style-type: none;
    margin-top: 2px;
}
/* partie responsive tablette*/
@media screen and (min-width:415px) and (max-width:3000px){
    .blockmenu{
        justify-content: center;
    }
    .menutitre{
        text-align: center;
        margin-left:18%;
    }
    .conteneurbtn{
        display: flex;  
    }
    .btnmenu{
        width:65%;
    }
}

