
.let1 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.2s;
  }
  
  .let2 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.3s;
  }
  
  .let3 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.4s;
  }
  
  .let4 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.5s;
  
  }
  
  .let5 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.6s;
  }
  
  .let6 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.7s;
  }
  
  .let7 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.8s;
  }
  .let8 {
    animation: drop 2.2s ease-in-out;
    animation-delay: 1.9s;
  }
  
.corps{
    animation:opaque 4.5s, fondu 2S 4.3s;
} 