/*variables*/
$fondsecondarydeux:#f7f1f1;
$colorprimarydeux:#8b51d3;
$colorprimary:#9356DC;
$colorsecondary:#FF79DA;
$colortertiary:#99E2D0;
$fondsecondary:#f6f6f6;
$colorshaow:rgb(179, 178, 178);
$coeurfull:#D86CDB;